body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.container {
    /* margin-inline: 10px; */
    width: 90%;
    max-width: 450px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #000080;
    /* Maroon Border */
    border-bottom: 5px solid #000080;
    /* Maroon Border */
}

h2 {
    text-align: center;
    color: #800000;
}

form label {
    color: #000080;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

form input {
    margin: 5px 0 10px;
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    outline: none;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #000080;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #01016c;
}

/* Outvoice Styles */
.outvoice-wrapper {
    /* height: 100%; */
    /* width: 100%; */
    max-width: 700px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.1);
    /* padding: 20px 40px 20px 40px; */
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.outvoice {
    margin-inline: 10px;
    max-width: 700px;
    padding: 70px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-height: 920px;
    background: white;
}

.outvoice-head {
    text-align: center;
    margin-bottom: 20px;
}

.outvoice-head h3 {
    font-size: 20px;
    color: #333;
}

.outvoice-head img {
    max-width: 100px;
    margin-bottom: 10px;
}

.hr {
    border-bottom: 2px solid #ddd;
    margin: 15px 0;
}

.outvoice-head-middle {
    display: flex;
    justify-content: space-between;
}

.outvoice-head-middle p,
span {
    font-size: 16px;
    display: flex;
}

.outvoice-head-bottom {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.outvoice-head-bottom-left,
ul,
li {
    text-align: left;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}

.outvoice-head-bottom-right ul li {
    text-align: right;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}

.outvoice-body table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.outvoice-body table,
td {
    font-size: 16px;
}

.outvoice-body th,
.outvoice-body td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.outvoice-body-bottom .outvoice-body-info-item,
.info-item-td {
    font-size: 16px;
}

.outvoice-foot p span {
    font-size: 16px;
}

.text-bold {
    font-weight: bold;
}

.text-end {
    text-align: right;
}

.text-start {
    text-align: left;
}

.outvoice-btns {
    text-align: center;
    margin-top: 20px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.outvoice-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: #000080;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

.outvoice-btn:hover {
    background: #01016c;
}

@media print {
    .outvoice-btns {
        display: none;
    }
}



@media screen and (max-width: 576px) {
    .container {
        max-width: 85%;
    }

    .outvoice-head h3 {
        font-size: 18px;
    }

    .outvoice-head-middle {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .outvoice-head-middle p,
    span {
        font-size: 14px;
    }

    .outvoice-head-bottom {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .outvoice-head-bottom-left,
    ul,
    li {
        font-size: 14px;
    }

    .outvoice-head-bottom-right {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .outvoice-head-bottom-right ul li {
        font-size: 14px;
        text-align: left;

    }

    .outvoice-head-top,
    .outvoice-head-middle,
    .outvoice-head-bottom {
        grid-template-columns: repeat(1, 1fr);
    }

    .outvoice-body table,
    td {
        font-size: 14px;
    }

    .outvoice-body-bottom .outvoice-body-info-item,
    .info-item-td {
        font-size: 14px;
    }

    .outvoice-foot p span {
        font-size: 14px;
    }

    .outvoice * {
        text-align: left;
    }

    .outvoice {
        padding: 28px;
    }

    .outvoice-btns {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .outvoice-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        font-size: 12px;
        text-align: center;
    }
}

.overflow-view {
    overflow-x: scroll;
}

.outvoice-body {
    min-width: 600px;
}


@media (max-width: 600px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 992px) {   
    .outvoice {
        padding: 40px;
    }
}